<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>KsTailwind · Phoenix Framework</title>
  <link href="https://fonts.googleapis.com/css?family=Nunito:400,700,800" rel="stylesheet">
  <meta name="msapplication-TileColor" content="#00aba9">
  <meta name="theme-color" content="#3b7977">
  <link href="https://fonts.googleapis.com/css?family=Work+Sans:200,400&amp;display=swap" rel="stylesheet">
  <%= render KsTailwindWeb.SharedView, "style-tailwind.html", assigns %>
  <%= render KsTailwindWeb.SharedView, "script-tailwind.html", assigns %>
  <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>" />
  <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
</head>

<body class="bg-white text-gray-600 work-sans leading-normal text-base tracking-normal vsc-initialized">
  <%= render KsTailwindWeb.SharedView, "header.html", assigns %>
  <%= render KsTailwindWeb.PageView, "hero.html", assigns %>
  <main role="main" class="container">
    <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
    <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
    <%= @inner_content %>
  </main>
  <%= render KsTailwindWeb.PageView, "info.html", assigns %>
  <%= render KsTailwindWeb.SharedView, "footer.html", assigns %>
</body>

</html>
